body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
min-height: 100vh;
}

.App {
  flex-grow: 1;
}

.App .Login {
  display: none; /* Hide by default, show only when isLoggedIn is false */
}

.App-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 5px solid #00003C;
}

.App-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.loggedIn .App .Login {
  display: block; /* Show when logged in */
}

.loggedIn .App .CourseList {
  display: block; /* Show course list when logged in */
}

