/* CourseList.js and CourseListRow.js */

.table {
    font-family: 'Galano Grotesque Alt', sans-serif;
    border: 1px solid #061c40;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    padding: 0.5rem;
    background-color: #e6e7e7;
    color: #061c40;
}

.loggedInStyle {
    margin-top: 50px;
}

.th {
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #061c40;
    padding: 0.5rem;
    border-bottom: #061c40;
    background-color: #8992bc;
}

.thNthChild2 :nth-child(2) {
    border-top: 2px solid #00003C;
}

.CourseListRowHeader {
    text-align: center;
}

.thFirstChild :first-child {
    text-align: left;
    width: 30%;
}


/* Styles for CourseListRow */
.thFirstCell {
    background-color: #e6e4e4;
}

.thSecondCell {
    border-left: 1px solid #061c40;
    background-color: #e6e4e4;
}

.tdFirstCell {
    background-color: #e6e4e4;
}

.tdSecondCell {
    text-align: left;
    border-left: 1px solid #061c40;
}

.rowChecked {
    background-color: #969696;
}

.rowChecked td {
    background-color: #969696;
}

.rowChecked:hover {
    background-color: #969696;
}

.rowChecked:hover td {
    background-color: #bdbdbd;
}
